# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.KeepRolling.iml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\KeepRolling\.idea\.idea.KeepRolling\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
